<header>
  <div class= "logo">
    <p>Write</p>
    <p>書くためのテーマ</p>
  </div>
  
  <div class="navigation-menu">
    <div class="">ホーム</div>
    <div class="">ページ</div>
    <div class="">タイポグラフィー</div>
    <div class="">お問い合わせ</div>
  </div>
</header>